<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>View Feeding Logs</h1>
<table class="SELECT-table">
    <tr>
        <th>feeding_id</th>
        <th>bird_id</th>
        <th>feed_id</th>
        <th>amount</th>
        <th>date_time</th>
    </tr>
    {{#each feeding_logs}}
    <tr>
        <td>{{this.feeding_id}}</td>
        <td>{{this.bird_id}}</td>
        <td>{{this.feed_id}}</td>
        <td>{{this.amount}}</td>
        <td>{{this.date_time}}</td>
    </tr>
    {{/each}}
</table>