<h1>New Feeding Log Entry</h1>

<form action="/feeding_logs_new" method="POST">
  <label for="bird_id">Bird ID:</label><br>
  <select id="bird_id" name="bird_id">
    {{#each birds}}
      <option value="{{this.bird_id}}">{{this.bird_id}} - {{this.name}}</option>
    {{/each}}
  </select><br>

  <label for="feed_id">Feed ID:</label><br>
  <select id="feed_id" name="feed_id">
    {{#each feeds}}
      <option value="{{this.feed_id}}">{{this.feed_id}} - {{this.feed_name}}</option>
    {{/each}}
  </select><br>

  <label for="amount">Amount:</label><br>
  <input type="text" name="amount" placeholder="amount"><br>

  <label for="date_time">Date & Time:</label><br>
  <input type="datetime-local" name="date_time"><br><br>

  <input type="submit" value="Submit">
</form>
