<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #d3e09a;
  }

  tr:nth-child(odd) {
    background-color: #f1f1c1;
  }

  .delete-button {
    all: unset; 
    color: red;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }

  .update-column {
    background-color: rgb(144, 238, 144);
    text-align:center;
  }

  .delete-column {
    background-color: rgb(226, 172, 147);
    text-align:center;
  }

  .SELECT-table td:nth-child(6) {
    background-color: rgb(202, 255, 200);
    color: black;
    text-align:center;
  }

  .SELECT-table td:nth-child(7) {
    background-color: rgb(255, 233, 233);
    color: rgb(255, 0, 0);
    font-size: x-large;
    text-align:center;
  }
</style>

<h1>View Owners</h1>

<p><a href="/owners_new" class="new-button">Add New Owner</a></p>

<table class="SELECT-table">
    <tr>
        <th>owner_id</th>
        <th>name</th>
        <th>address</th>
        <th>phone</th>
        <th>email</th>
        <th class="update-column">update</th>
        <th class="delete-column">delete</th>
    </tr>

    {{#each owners}}
    <tr>
        <td>{{this.owner_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>

        <td><a href="/owners_update/{{this.owner_id}}" class="update-button">update</a></td>

        <td>
          <form action="/owners_delete/{{this.owner_id}}" method="POST"
            onsubmit="return confirm('Delete this owner? This will remove any birds associated with this owner. Proceed?');">
            <button type="submit" class="delete-button">X</button>
          </form>
        </td>
    </tr>
    {{/each}}
</table>
