<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>View Owners</h1>
<table class="SELECT-table">
    <tr>
        <th>owner_id</th>
        <th>name</th>
        <th>address</th>
        <th>phone</th>
        <th>email</th>
    </tr>
    {{#each owners}}
    <tr>
        <td>{{this.owner_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.email}}</td>
    </tr>
    {{/each}}
</table>